.header {
  padding: 80px; /* some padding */
  text-align: center; /* center the text */
  background: #072f21; /* dark background */
  color: white; /* white text color */
  background-image: url(SiteShots/book6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}
img {
  left:auto;
  right:auto;
  display:block;
  border: 1px solid #090909;
  background-color: rgba(0, 0, 0, 0); 
  border-style: double;
  border-radius: 15px;
  padding: 5px;
  width: 150px; 
}

.header2 {
padding: 80px; /* some padding */
text-align: center; /* center the text */
font-size: 40px;
color: rgb(229, 75, 172);
}

/*  Increase the font size of the <h1> element */
.header h1 {
  font-size: 60px;
}
/* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: rgba(0, 0, 0, 0); /* transparent background */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: whitesmoke; /*white text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  border-style: double;
  border-radius: 12px; /* round the borders*/
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: LightGray; /* light background color */
  color: teal; /* green-ish text color */
}
/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sit next to each other */
/* Sidebar/left column */
.side {
  flex: 40%; /* Set the width of the sidebar */
  background-color: #f4b4b4; /* light peachy background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 60%; /* Set the width of the main content */
  background-color: rgb(206, 200, 200); /* White background color */
  padding: 20px; /* Some padding */
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
.footer {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  background: LightGray; /* light gray background */
}
.footer2 {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  color:rgba(0, 0, 0, 0); /* transparent background */
  color: white;
}
.footer3 {
  padding: 20px; /* Some padding */
  text-align: center; /* Center text*/
  color:rgba(0, 0, 0, 0); /* transparent background */
  color: black;
}