.header {
  padding: 80px;
  text-align: center;
  background: #072f21;
  color: white; 
  background-image: url(SiteShots/book6.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
}

img {
  display:block;
  margin-left:auto;
  margin-right:auto;
  background-color: rgba(0, 0, 0, 0); 
  padding: 5px;
  width: 150px; 
}

.header2 {
padding: 35px; 
text-align: center;
font-size: 40px;
color: rgb(229, 75, 172);
}

.header3 {
  background-image: url(SiteShots/fantasyforest3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; 
  color: hsl(55, 97%, 50%);
}

.header h1 {
  font-size: 60px;
}

.navbar {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0);
}


.navbar a {
  float: left; 
  display: block; 
  color: whitesmoke;
  text-align: center;
  padding: 14px 20px; 
  text-decoration: none;
  border-style: double;
  border-radius: 12px;
}

.navbar a.right {
  float: right; 
}

.navbar a:hover {
  background-color: LightGray; 
  color: teal;
}

* {
  box-sizing: border-box;
}


.row {
  display: flex;
  flex-wrap: wrap;
}

.side {
  flex: 40%; 
  background-color: #fd8db6; 
  padding: 20px;
}


.main {
  flex: 60%; 
  background-color: rgb(152, 215, 255); 
  padding: 20px; 
}

@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}


@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}
.footer {
  padding: 20px;
  text-align: center;
  background: LightGray; 
}
.footer2 {
  padding: 20px;
  text-align: center; 
  color:rgba(0, 0, 0, 0);
  color: white;
}
.footer3 {
  padding: 20px; 
  text-align: center; 
  color:rgba(0, 0, 0, 0); 
  color: black;
}
.footer4 {
  padding: 20px; 
  text-align: center; 
  color:rgb(0, 0, 0); 
  color: rgb(246, 228, 92);
}