.navbar a {
    float: left; 
    display: block; 
    color: rgb(54, 10, 10);
    text-align: center;
    padding: 14px 20px; 
    text-decoration: none;
    border-style: double;
    border-radius: 12px; 
  }